#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: darkslategray;
  color: azure;
}

.subheader {
  margin: 2rem 12rem 4rem 12rem;
}

h1 {
  margin: 0.8rem;
}

h1,
h2 {
  color: skyblue;
}

h3 {
  color: gold;
}
