#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.logo {
  height: 2em;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: logo-spin infinite 20s linear;
  }
}

.flex-div {
  display: flex;
  flex-direction: column;
}

.flex-div-reverse {
  display: flex;
  flex-direction: column-reverse;
}
