* {
  /* this is a css reset, used to remove default margins etc, from browser default settings */
  margin: 0;
  padding: 0;
  /* border-box sizing ensurees the border does not encroach into the content and cause the content to shrink */
  box-sizing: content-box;
}

.box {
  width: 300px;
  background: skyblue;
  padding: 100px 0px 300px 20px;
  border: 5px double dodgerblue;
  margin: 100px;
}

.div {
  min-width: 20px;
  max-width: 50svh;
  min-height: 20px;
  background-color: darkred;
  padding: 20px;
  border: 5px solid goldenrod;
  margin: 5px;
}

p {
  margin: 10px;
  max-width: 70svw;
}

.content {
  min-height: 30px;
  background-color: chocolate;
  color: blanchedalmond;
  padding: 20px;
  border: 5px darkslategray dashed;
  margin: 20px;
}
