* {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace, "Courier New", Courier;
}

#new-list {
  background: goldenrod;
  max-height: 80vh;
  max-width: 80vw;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 5px darkolivegreen double;
  border-radius: 15px;
}

#list-title {
  font-size: 1.5rem;
  text-align: center;
}

li {
  margin-top: 10px;
}
