* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  border: 2px solid black;
  margin-top: 5px;
  padding: 0.5rem;
}

h2 {
  text-align: center;
  padding: 1rem;
}

.container {
  width: 98vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin-bottom: 20px;
}

.container > .box {
  border: 2px solid goldenrod;
  border-radius: 1rem;
  max-width: 30vw;
  padding: 1rem;
}

.box > img {
  max-width: 100%;
}

.hero {
  min-height: 98vh;
  width: 98vw;
  border: 2px rgb(78, 77, 77) solid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 5px;
  padding: 5px;
  margin-bottom: 30px;
  background-color: rgba(164, 188, 248, 0.195);
}

.hero > .box {
  background-color: white;
}

@media (max-width: 600px) {
  .hero {
    max-height: 2000vh;
  }
  .container > .box {
    min-width: 400px;
  }
}
