#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: darkslategrey;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 2.8rem;
}

button {
  margin: 0px 0 40px 0;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: darkslategray;
  background-color: beige;
}

.image-container {
  margin: auto;
  width: 90vw;
  display: flex;
  flex-direction: row;
}

.imgDiv,
img {
  margin: 5px;
  max-width: 16vw;
}
