* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  margin-top: 20px;
  margin-left: 20px;
}

fieldset {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
}

input {
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

/* Attribute selector (targets any input with a placeholder attribute) */
input[placeholder] {
  min-height: 100px;
}

button {
  margin: 10px 10px 20px 10px;
}
